:root {
  --light-blue: #8cc8f0;
  --dark-blue: #084246;
  --white: white;
  --crimson: crimson;
  --crimson-light: rgb(252, 49, 90);
  --gray: gray;
}

.app {
  margin: 5px;
  padding: 10px;
  border: var(--dark-blue) 2px solid;
  border-radius: 5px;
  position: relative;
}

.wrapper {
  margin: 5px;
  padding: 5px;
}

.sorter {
  height: 220px;
  margin: 5px;
  padding: 5px;
  border: var(--dark-blue) 2px solid;
  border-radius: 5px;
}

.sorter-header {
  position: relative;
}

.sorter-container {
  position: relative;
}

.column {
  position: absolute;
  width: 25px;
  background-color: var(--light-blue);
  margin: 20px;
  margin-top: 10px;
  transition-property: left;
  transition-duration: 0.2s;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid 1px var(--dark-blue);
}

.progress-bar {
  position: relative;
  margin: 10px 0;
  top: 6px;
  left: 10px;
  border: solid 1px var(--dark-blue);
  width: 300px;
  height: 25px;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  background: var(--white);
  background-image: linear-gradient(90deg, var(--light-blue) 0%, var(--white) 0%);
}

.progress-bar-label {
  width: 100%;
  font-size: 15px;
  font-family: Arial;
}

input[type='text'] {
  width: 280px;
  padding: 3px;
  margin: 3px;
  border: 1px solid var(--gray);
}

.primary {
  width: 70px;
  height: 25px;
  margin: 2px;
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 5px;
  border-width: 1px;
  outline: none;
}

.close {
  position: absolute;
  font-size: 110%;
  top: 0px;
  right: 0px;
  color: var(--dark-blue);
  border: none;
  outline: none;
  background: transparent;
}
.close:hover {
  color: var(--crimson);
}
